*{
    margin: 0;
    padding: 0;
}

.border{
    border: 1px solid rgb(221, 212, 212);
}


.color-blanco{
    background-color: #ffffff;


}
.color-azul{

    background-color:#dbe1df;
}
.color-verde{

    background-color: #038C7F;
}
.contenedor{
  

    max-width: 1200px;
    width: 95%;    
    margin: auto;

}

.borde-contenedor{

    
    width: 95%;
    height: 50px;
    background-color: #DEFBFC;
}

.titulo{
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    margin-top: 50px;
    margin-left: 350px;
    height: 50px;

}

.contenedor-sesion{

    border-radius: 5%;
    background-color: #d2d5e1;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    height: 550px;
    margin: 30px;
    margin-top: 50px;
    margin-left: 350px;
}

.documento{
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 85%;
    height: 13%;
    margin-top: 8%;
    margin-left: 8%;
}
.contraseña{
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 85%;
    height: 13%;
    margin-top: 8%;
    margin-left: 8%;
}

.ingresar{
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    height: 10%;
    margin-top: 8%;
    margin-left: 30%;
}

.registrarme{
    border-radius: 20px;
    width: 42%;
    height: 10%;
    margin-top: 8%;
    margin-left: 5%;
    float: left;
    font-family: 'Courier New', Courier, monospace;


}

.cambiar-contraseña{
    border-radius: 20px;
    width: 42%;
    height: 10%;
    margin-top: 8% ;
    margin-right: 20px;
    float: right;
    

}

.footer{
     border-radius: 20px;
    width: 100%;
    height: 70px;
    
}
.botones{
    background-color:gray;
padding: 1.5% 4.6%;
border: rgb(136, 121, 121) 0px solid;
color:azure;
font-weight: bold;
transition: all 1s;
border-radius: 20px;
width: 42%;
height: 10%;
margin-top: 5% ;
margin-right: 100px;
float: right;
}